body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  padding: 24px 0;
}

.header .header-nav {
  display: flex;
  align-items: center;
}

.header .header-nav-wrapper {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.header .header-address-wrapper {
  display: flex;
  gap: 40px;
}

.header .menu-item {
  color: #2e2f42;
  font-weight: 500;
}

.header .menu-item:hover {
  color: #404bbf;
}

.header .menu-item:focus {
  color: #404bbf;
}

.header .header-address {
  font-style: normal;
}

.header .contact {
  color: #434455;
}

.header .contact:hover {
  color: #404bbf;
}

.header .contact:focus {
  color: #404bbf;
}

.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

.first-section .first-section-btn {
  margin: 0 auto;
  margin-top: 48px;
  display: block;
  min-width: 169px;
  min-height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.first-section .first-section-btn:hover {
  background-color: #404bbf;
}

.first-section .first-section-btn:focus {
  background-color: #404bbf;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.benefits-wrapper {
  display: flex;
  gap: 24px;
}

.benefits .benefits-item {
  flex-basis: calc((100% - 72px) / 4);
}

.benefits .item-title {
  margin-bottom: 8px;
  text-align: center;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-section {
  background-color: #f4f4fd;
}

.team-section .team-wrapper {
  display: flex;
  gap: 24px;
}

.team-section .team-item {
  background-color: #fff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-section .team-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0;
}

.team-section .item-title {
  text-align: center;
}

.team-section .item-text {
  text-align: center;
}

.portfolio .portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio .portfolio-item {
  flex-basis: calc((100% - 72px) / 6);
}

.portfolio .portfolio-item-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
}
