body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style-type: none;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

.header .menu-item {
  color: #2e2f42;
  font-weight: 500;
}

.header .menu-item:hover {
  color: #404bbf;
}

.header .menu-item:focus {
  color: #404bbf;
}

.header .header-address {
  font-style: normal;
}

.header .contact {
  color: #434455;
}

.header .contact:hover {
  color: #404bbf;
}

.header .contact:focus {
  color: #404bbf;
}

.first-section {
  background-color: #2e2f42;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.first-section .first-section-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  text-align: center;
  cursor: pointer;
}

.first-section .first-section-btn:hover {
  background-color: #404bbf;
}

.first-section .first-section-btn:focus {
  background-color: #404bbf;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-section {
  background-color: #f4f4fd;
}

.team-section .team-item {
  background-color: #fff;
}

.footer {
  background-color: #2e2f42;
}

.footer .logo-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
